body {
	font-family: 'Lato', sans-serif;
	line-height: 1.62;
  font-size:9pt;
}

h1 {
	font-size: 2em;
}

div {
	padding: 5px;
}



/* for all elements with id map */
#map {
  height: 500px;
}


#sideBar {
  height: 500px;
	overflow: scroll;
  box-sizing: border-box;
}

.sideBarItem {
	padding-bottom:5px;
}


.A {
  background-color: #a6cee3;
}

.B {
  background-color: #1f78b4;
}

.C {
  background-color: #fdbf6f;
}

.D {
  background-color: #33a02c;
}

.E {
  background-color: #fb9a99;
}

.F {
  background-color: #e31a1c;
}

.G {
  background-color: #ffff99;
}

.H {
  background-color: #ff7f00;
}

.I {
  background-color: #cab2d6;
}

.J {
  background-color: #6a3d9a;
}

.K {
  background-color: #b2df8a;
}

.L {
  background-color: #b15928;
}


/*styles for legend items */
.info {
  padding: 6px 8px;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  text-align: left;
  line-height: 20px;
  color: #555;
}

.legend i {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 8px;
  opacity: 0.9;
}

/* style for sidebarItem highlights */
.highlight {
	background:steelblue;
}


#listContainer{
  margin-top:15px;
}
 
#expList ul, li {
    list-style: none;
    margin:0;
    padding:0;
    cursor: pointer;
}
#expList p {
    margin:0;
    display:block;
}
#expList p:hover {
    background-color:#121212;
}
#expList li {
    line-height:140%;
    text-indent:0px;
    background-position: 1px 8px;
    padding-left: 20px;
    background-repeat: no-repeat;
}
/* Collapsed state for list element */
#expList .collapsed {
    background-image: url(../img/collapsed.png);
}
/* Expanded state for list element
/* NOTE: This class must be located UNDER the collapsed one */
#expList .expanded {
    background-image: url(../img/expanded.png);
}